*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.calendar-view {
    flex: 1;
    margin-right: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

.list-view {
    flex: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

.motivational-section {
    flex: 1;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.calendar-day {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.calendar-days {
    display: flex;
    flex-direction: column;
}

.p-task{
    padding-top: 1rem;
    height: auto;
}

